In [39]:
import pandas as pd

In [40]:
filePath = ("HackUTD-2023-HomeBuyerInfo.csv")

df = pd.read_csv(filePath)
df.head()

,ID,GrossMonthlyIncome,CreditCardPayment,CarPayment,StudentLoanPayments,AppraisedValue,DownPayment,LoanAmount,MonthlyMortgagePayment,CreditScore
0,1,3103.0,317.0,374.0,250.0,268468.0,32216.16,236251.84,1127.90,778
1,2,2939.0,368.0,395.0,228.0,335467.0,30192.03,305274.97,2240.00,546
2,3,4676.0,222.0,352.0,368.0,461177.0,36894.16,424282.84,2277.64,736
3,4,8469.0,224.0,416.0,400.0,326904.0,22883.28,304020.72,1451.44,761
4,5,2406.0,497.0,385.0,444.0,472661.0,23633.05,449027.95,2987.39,615

In [41]:
result = df[df["CreditScore"] > 640]

df['Good Credit'] = df['CreditScore'] > 640
df.head()

,ID,GrossMonthlyIncome,CreditCardPayment,CarPayment,StudentLoanPayments,AppraisedValue,DownPayment,LoanAmount,MonthlyMortgagePayment,CreditScore,Good Credit
0,1,3103.0,317.0,374.0,250.0,268468.0,32216.16,236251.84,1127.90,778,True
1,2,2939.0,368.0,395.0,228.0,335467.0,30192.03,305274.97,2240.00,546,False
2,3,4676.0,222.0,352.0,368.0,461177.0,36894.16,424282.84,2277.64,736,True
3,4,8469.0,224.0,416.0,400.0,326904.0,22883.28,304020.72,1451.44,761,True
4,5,2406.0,497.0,385.0,444.0,472661.0,23633.05,449027.95,2987.39,615,False

In [42]:
df["LTV"] = (df["AppraisedValue"] - df["DownPayment"]) / df["AppraisedValue"]
df.head()

,ID,GrossMonthlyIncome,CreditCardPayment,CarPayment,StudentLoanPayments,AppraisedValue,DownPayment,LoanAmount,MonthlyMortgagePayment,CreditScore,Good Credit,LTV
0,1,3103.0,317.0,374.0,250.0,268468.0,32216.16,236251.84,1127.90,778,True,0.88
1,2,2939.0,368.0,395.0,228.0,335467.0,30192.03,305274.97,2240.00,546,False,0.91
2,3,4676.0,222.0,352.0,368.0,461177.0,36894.16,424282.84,2277.64,736,True,0.92
3,4,8469.0,224.0,416.0,400.0,326904.0,22883.28,304020.72,1451.44,761,True,0.93
4,5,2406.0,497.0,385.0,444.0,472661.0,23633.05,449027.95,2987.39,615,False,0.95

In [43]:
pmiNeeded = df["LTV"] > 0.8
df["pmiNeeded"] = df["LTV"] > 0.8

df.loc[pmiNeeded, "AppraisedValue"] *= 1.01
df["MonthlyMortgagePayment"] = df["MonthlyMortgagePayment"].round(2)
df.head()

,ID,GrossMonthlyIncome,CreditCardPayment,CarPayment,StudentLoanPayments,AppraisedValue,DownPayment,LoanAmount,MonthlyMortgagePayment,CreditScore,Good Credit,LTV,pmiNeeded
0,1,3103.0,317.0,374.0,250.0,271152.68,32216.16,236251.84,1127.90,778,True,0.88,True
1,2,2939.0,368.0,395.0,228.0,338821.67,30192.03,305274.97,2240.00,546,False,0.91,True
2,3,4676.0,222.0,352.0,368.0,465788.77,36894.16,424282.84,2277.64,736,True,0.92,True
3,4,8469.0,224.0,416.0,400.0,330173.04,22883.28,304020.72,1451.44,761,True,0.93,True
4,5,2406.0,497.0,385.0,444.0,477387.61,23633.05,449027.95,2987.39,615,False,0.95,True

In [44]:
df.head()
#   Calculate DTI (Debt to Income ratio) 
#   Monthly debt = CCPayment + CarPayment + StudentLoan + Mortgage payment


df["Monthly Debt"] = (df["CarPayment"] + df["MonthlyMortgagePayment"] + df["CreditCardPayment"])
df.head()


df['DTI'] = (df["Monthly Debt"] / df['GrossMonthlyIncome']).round(2)
df.head()

,ID,GrossMonthlyIncome,CreditCardPayment,CarPayment,StudentLoanPayments,AppraisedValue,DownPayment,LoanAmount,MonthlyMortgagePayment,CreditScore,Good Credit,LTV,pmiNeeded,Monthly Debt,DTI
0,1,3103.0,317.0,374.0,250.0,271152.68,32216.16,236251.84,1127.90,778,True,0.88,True,1818.90,0.59
1,2,2939.0,368.0,395.0,228.0,338821.67,30192.03,305274.97,2240.00,546,False,0.91,True,3003.00,1.02
2,3,4676.0,222.0,352.0,368.0,465788.77,36894.16,424282.84,2277.64,736,True,0.92,True,2851.64,0.61
3,4,8469.0,224.0,416.0,400.0,330173.04,22883.28,304020.72,1451.44,761,True,0.93,True,2091.44,0.25
4,5,2406.0,497.0,385.0,444.0,477387.61,23633.05,449027.95,2987.39,615,False,0.95,True,3869.39,1.61

In [45]:
df['FEDTI'] = (df['MonthlyMortgagePayment'] / df['GrossMonthlyIncome'])
df['FEDTI'] = df["FEDTI"].round(2)
df.head()

,ID,GrossMonthlyIncome,CreditCardPayment,CarPayment,StudentLoanPayments,AppraisedValue,DownPayment,LoanAmount,MonthlyMortgagePayment,CreditScore,Good Credit,LTV,pmiNeeded,Monthly Debt,DTI,FEDTI
0,1,3103.0,317.0,374.0,250.0,271152.68,32216.16,236251.84,1127.90,778,True,0.88,True,1818.90,0.59,0.36
1,2,2939.0,368.0,395.0,228.0,338821.67,30192.03,305274.97,2240.00,546,False,0.91,True,3003.00,1.02,0.76
2,3,4676.0,222.0,352.0,368.0,465788.77,36894.16,424282.84,2277.64,736,True,0.92,True,2851.64,0.61,0.49
3,4,8469.0,224.0,416.0,400.0,330173.04,22883.28,304020.72,1451.44,761,True,0.93,True,2091.44,0.25,0.17
4,5,2406.0,497.0,385.0,444.0,477387.61,23633.05,449027.95,2987.39,615,False,0.95,True,3869.39,1.61,1.24

In [46]:
approval = (df["LTV"] < 0.95) & (df["DTI"] < 0.43) & (df["FEDTI"] < 0.29)
df["Approved"] = approval
df.head(30)

,ID,GrossMonthlyIncome,CreditCardPayment,CarPayment,StudentLoanPayments,AppraisedValue,DownPayment,LoanAmount,MonthlyMortgagePayment,CreditScore,Good Credit,LTV,pmiNeeded,Monthly Debt,DTI,FEDTI,Approved
0,1,3103.0,317.0,374.0,250.0,271152.68,32216.16,236251.84,1127.90,778,True,0.88,True,1818.90,0.59,0.36,False
1,2,2939.0,368.0,395.0,228.0,338821.67,30192.03,305274.97,2240.00,546,False,0.91,True,3003.00,1.02,0.76,False
2,3,4676.0,222.0,352.0,368.0,465788.77,36894.16,424282.84,2277.64,736,True,0.92,True,2851.64,0.61,0.49,False
3,4,8469.0,224.0,416.0,400.0,330173.04,22883.28,304020.72,1451.44,761,True,0.93,True,2091.44,0.25,0.17,True
4,5,2406.0,497.0,385.0,444.0,477387.61,23633.05,449027.95,2987.39,615,False,0.95,True,3869.39,1.61,1.24,False
5,6,9128.0,219.0,424.0,220.0,403922.00,117137.38,286784.62,1719.42,661,True,0.71,False,2362.42,0.26,0.19,True
6,7,8717.0,249.0,363.0,395.0,365483.00,73096.60,292386.40,1232.71,811,True,0.80,False,1844.71,0.21,0.14,True
7,8,8194.0,315.0,353.0,303.0,269907.00,72874.89,197032.11,1310.86,648,True,0.73,False,1978.86,0.24,0.16,True
8,9,8582.0,261.0,435.0,204.0,250602.21,12406.05,235714.95,1265.37,742,True,0.95,True,1961.37,0.23,0.15,False
9,10,8832.0,351.0,470.0,203.0,412458.75,20418.75,387956.25,2846.69,554,False,0.95,True,3667.69,0.42,0.32,False
10,11,2829.0,254.0,368.0,412.0,477291.66,80336.22,392229.78,1872.56,780,True,0.83,True,2494.56,0.88,0.66,False
11,12,7997.0,476.0,415.0,304.0,476901.00,100149.21,376751.79,2258.82,658,True,0.79,False,3149.82,0.39,0.28,True
12,13,8815.0,381.0,355.0,358.0,452336.58,62700.12,385157.88,2067.61,733,True,0.86,True,2803.61,0.32,0.23,True
13,14,4353.0,407.0,438.0,424.0,405407.94,76264.86,325129.14,2385.68,525,False,0.81,True,3230.68,0.74,0.55,False
14,15,8909.0,419.0,422.0,449.0,390002.00,81900.42,308101.58,2260.74,569,False,0.79,False,3101.74,0.35,0.25,True
15,16,9580.0,399.0,399.0,385.0,287955.04,37063.52,248040.48,1331.53,706,True,0.87,True,2129.53,0.22,0.14,True
16,17,4030.0,341.0,420.0,205.0,469898.46,55829.52,409416.48,3004.15,574,False,0.88,True,3765.15,0.93,0.75,False
17,18,7012.0,366.0,475.0,406.0,417598.64,70288.88,343175.12,2518.10,570,False,0.83,True,3359.10,0.48,0.36,False
18,19,3519.0,288.0,449.0,271.0,241549.00,67633.72,173915.28,1276.13,532,False,0.72,False,2013.13,0.57,0.36,False
19,20,4450.0,471.0,468.0,230.0,489292.48,92045.12,392402.88,1873.39,771,True,0.81,True,2812.39,0.63,0.42,False
20,21,2862.0,444.0,362.0,434.0,504322.29,79892.64,419436.36,2514.73,695,True,0.84,True,3320.73,1.16,0.88,False
21,22,4168.0,322.0,439.0,369.0,442517.00,123904.76,318612.24,2337.86,574,False,0.72,False,3098.86,0.74,0.56,False
22,23,5472.0,314.0,443.0,379.0,313453.50,27931.50,282418.50,2072.29,650,True,0.91,True,2829.29,0.52,0.38,False
23,24,6748.0,311.0,426.0,296.0,345749.26,54772.16,287553.84,2109.97,533,False,0.84,True,2846.97,0.42,0.31,False
24,25,3060.0,300.0,411.0,404.0,391019.48,19357.40,367790.60,1974.38,732,True,0.95,True,2685.38,0.88,0.65,False
25,26,8350.0,490.0,434.0,377.0,436880.55,38929.95,393625.05,2888.28,592,False,0.91,True,3812.28,0.46,0.35,False
26,27,2527.0,232.0,377.0,322.0,316425.93,56392.74,256900.26,1885.04,585,False,0.82,True,2494.04,0.99,0.75,False
27,28,5236.0,337.0,367.0,240.0,283298.00,70824.50,212473.50,1413.59,639,False,0.75,False,2117.59,0.40,0.27,True
28,29,7993.0,392.0,360.0,381.0,416337.15,20610.75,391604.25,2102.22,729,True,0.95,True,2854.22,0.36,0.26,False
29,30,6461.0,295.0,381.0,395.0,239093.00,57382.32,181710.68,1089.45,666,True,0.76,False,1765.45,0.27,0.17,True